<html>

<form name="counter"><input type="text" size="8" 
name="d2"></form> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script> 
<!-- 
// 
 var seconds={{time}} 
 document.counter.d2.value='30' 
 var count=0
 
 
 function raise()
 {$.get('../treset',{time:30},function(){
            
        });
        seconds=30
 }

function display(){ 
  
 if (seconds<=0)
 {$.get('../treset',{time:30},function(){
            
        });
 } 
 else {
    seconds-=1
    
    $.get('../timer_update',{time:seconds},function(){
    setTimeout("display()",1000)        
        });
        count+=1;
        if(count%10==0)
document.location.reload(true);
}
        
        
    document.counter.d2.value=seconds 
     
} 
display() 

--> 
</script> 
<body>
<a href="#" onclick="return raise()">Raise the bid</a>
</body>
</html>





