body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	background: #436B95;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

div#form-submit{
position:absolute;
top:40%;
width:100%;}

div#create_auc{
	position: fixed;
	top:20%;
	left: 10%;
}

a{
	text-decoration: none;
}

#navigation {
  position: fixed;
  /*top: 0;*/
  width: 100%;
  height: 65px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(255, 255, 255, 1.0);
    display:inline;}

.login_form{
position:absolute;
top:50%;
left:40%;}

.submit-button{
width:100px;
}

input{
height:22px;
width:220px;}

#navigation ul li{
display:inline;}

#navigation ul li a{
	font-family:serif;
	float:right;
	margin:10px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	display:inline;
	
}

#navigation img {
	float: left;
	padding-left: 20px;
	padding-top: 5px;
}

#navigation a:hover {
	color: grey;
}

div#text-box{
position:absolute;
top:30%;
font-size:20px;
color:white;
font-weight:bold;
left:2%;
}

#auctions h2 {
	float:left;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	color: #19388a;
}

#gameover{
	position: absolute;
	top:30%;
	left: 20%;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	color: white;

}

/* This just adds some style to the placeholder text */

/*#content {
	width: 600px;
	padding-top: 70px;
	padding-bottom: 30px;
	/*margin-left: auto;
	/*margin-right: auto;*/
}*/

/*#content img {
	padding-top: 20px;
	padding-bottom: 30px;
}*/
